<a href="https://colab.research.google.com/github/Rameshreddy8780/AI-ML/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1 - Create two lists & join those two lists

In [ ]:
test_list1=[2,4,6,8,10]
test_list2=[1,3,5,7,9]

In [ ]:
combined=test_list1+test_list2

In [ ]:
print("Joined list : ",combined)

Joined list :  [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

#Task 2 - With 'if' statement find the even numbers

In [ ]:
a=int(input("Enter value of a : "))
if(a%2==0):
  print("Even")
else:
  print("Odd")

Enter value of a : 12
Even

#Task 3 - Create dictionary with 3 keys & 2 values for each key

In [ ]:
dictionary={'FirstKey':[11,12],
      'SecondKey':[1,2],
      'ThirdKey':[41,51]}

In [ ]:
ValueCheck=dictionary['SecondKey']

In [ ]:
print(ValueCheck)

[1, 2]

Clearly the key has two values

#Task 4 - Create a function with 'if' statement which is used to find the odd numbers

In [ ]:
b=int(input("Enter value of b : "))
if((b%2)==0):
  print("Even")
else:
  print("Odd")

Enter value of b : 13
Odd

#Task 5 - Write a Python function to sum all the numbers in a list
Sample list : (8,2,3,0,7)
Expected Output:20

In [ ]:
list=[8,2,3,0,7]

In [ ]:
total=sum(list)

In [ ]:
print("The sum of list is : ",total)

The sum of list is :  20